.historybar {
  display: flex;
  padding: 30px 10px 30px 00px;
  background-color: #F4F4F4;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
}

.historybar > .title {
  width: 100%;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  margin-bottom: 10px;
}

.histories {
  display: flex;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
  flex-direction: column;
  width: 100%;
}

.history {
  width: 100%;
  padding: 0 10px 10px 10px;
  border-bottom: solid 1px #DDDDDD;
}

.history:hover {
  background-color: #EDEDED;
}

.history > .situation {
  margin-top: 10px;
  margin-bottom: 3px;
  width: 100%;
  text-align: left;
  font-size: 12px;
}

.markHolder {
  display: flex;
}

.markHolder > .stereoMark {
  display: flex;
  height: 19px;
  font-size: 10px;
  
  padding: 4px 6px;
  border-radius: 4px;
  font-weight: 600;
}

.stereo {
  background-color: #E8492F;
  color: white;
}

.neutral {
  background-color: #30C680;
  color: white;  
}

.antiStereo {
  background-color: #317FF5;
  color: white;
}

.ambiguous {
  background-color: #F5D633;
}

.unrelated {
  background-color: #bbbbbb;
}

.history > .dialoge {
  margin-top: 5px;
  width: 100%;
  text-align: left;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
}

.clicked {
  background-color: #DDDDDD;
}

.clicked:hover{
  background-color: #DDDDDD;
}