.mainPage {
  display: grid;
  grid-template-rows: 50px 1fr;
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 320px;
  overflow: hidden; 
  justify-content: space-between;
}

.container > .playContents {
  display: flex;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.playContents > .inputWindow {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
}
.inputWindow > .inputWindowTitle {
  display: flex;
  width: 100%;
  text-align: left;
}

.inputWindow > .input {
  margin: 12px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  border: solid 1px #CDCDCD;
  border-radius: 5px;
  padding: 9px 8px 7px 12px;
}

.outputWindow {
  display: flex;
  max-width: 60%;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.situation {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
}

.dialoge {
  width: 100%;
  background-color: white;
  margin-top: 10px;
  padding: 20px 40px 20px 40px;
  border: solid 1px #CDCDCD;
  border-radius: 10px;
  text-align: center;
  font-family: 'Noto Serif KR';
  font-weight: 700;
  font-size: 20px;
}

.stereoEvaluation {
  display: flex;
  overflow: scroll;
  overflow-x:hidden; 
  overflow-y:auto; 
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.stereoChecker {
  display: flex;
  justify-content: center;
  height: 70px;
  font-size: 1px;
  
}

.stereoBtn {
  width: 150px;
  border-radius: 10px;
  border: solid 0px;
  margin: 5px;
  font-weight: 600;
}

.evaluationBtn {
  margin-top: 20px;
  height: 60px;
  width: 200px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  border: 0px;
}

.evaluationBtnHolder{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.neutralHolder{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.unrelatedHolder{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.evalExplaination {
  margin-bottom: 10px;
  color: #888888;
  font-size: 18px;
}

.retryExplaination {
  margin-top: 20px;
  color: #888888;
  font-size: 14px;  
}

.evaluationBtnHolder > .stereo:hover {
  background-color: #D6432B;
}

.ambiguousHolder {
  width: 100%;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.ambiguousQuestion {
  margin-top: 10px;
  display: flex;
  width: 60%;
  flex-direction: column;
}

.ambiguousQuestion > textarea {
  resize: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  height: 120px;
}

.ambiguousQuestion > button {
  background-color: #00B7A1;
  color: white;
  border: 0px;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  border-radius: 5px;
}

.ambiguousQuestion > button:hover {
  background-color: #00A490;
}

.ambiguousQuestion > .unclickable {
  background-color: #C0C0C0;
  color: black;
}

.ambiguousQuestion > .unclickable:hover {
  background-color: #C0C0C0;
  color: black;
}

.evaluationBtnHolder > .antiStereo:hover {
  background-color: #2A6FD6;
}

.stereoChecker > .stereo {
  background-color: #E8492F;
  color: white;
}

.stereoChecker > .stereo:hover {
  background-color: #D6432B;
}

.stereoChecker > .neutral {
  background-color: #30C680;
  color: white;
}

.stereoChecker > .neutral:hover {
  background-color: #29AB6F;
}


.stereoChecker > .antiStereo {
  background-color: #317FF5;
  color: white;
}

.stereoChecker > .antiStereo:hover {
  background-color: #2A6FD6;
}

.stereoChecker > .ambiguous {
  background-color: #F5D633;
}

.stereoChecker > .ambiguous:hover {
  background-color: #DBBF2F;
}

.stereoChecker > .unrelated {
  background-color: #DDDDDD;
}

.stereoChecker > .unrelated:hover {
  background-color: #C0C0C0;
}

.userTable {
  border: solid 1px black;
  border-collapse : collapse;
}

tr td {
  border: solid 1px black;
  text-align: center;
  padding: 0px 10px;
}

td {
  max-width: 450px;
}

th {
  border: solid 1px black;
  padding: 0px 10px;
}

.retryButton {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 0px;
  background-color: #dddddd;
  opacity: 0.8;
  
}
.retryButton:hover {
  background-color: #cccccc;
  
}